@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Temporary site for the UNF Hackathon Management System</h1>
    <p>This site is currently under development by The Devs</p>
</div>
